/********** Template CSS **********/
:root {
    --primary: #3A0357;
    --secondary: #2F084D;
    --light: #F2F2F2;
    --dark:#E79848;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    background-color:#f2642c;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 8px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--dark) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #3A0357;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-hero.png);
    background-position:
        0px 40%,
        right 0 top 0,
        left 50% top 0,
        left 50% top 50%,
        center bottom -1px;
    background-repeat: no-repeat;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 11px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 1px;
    bottom: 5px;
    left: 0;
    background: var(--primary);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -30px;
}

.section-title.text-center::after {
    width: 120px;
    left: 50%;
    margin-left: -60px;
}


/*** Domain Search ***/
.domain {
    background: url(../img/bg-domain.png) center center no-repeat;
    background-size: contain;
}


/*** Comparison ***/
@media (min-width: 992px) {
    .comparison::after {
        position: absolute;
        content: "";
        width: 1px;
        top: 56px;
        bottom: 20px;
        left: 50%;
        background: #DDDDDD;
    }
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item .position-absolute {
    background: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Footer ***/
.footer {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-footer.png);
    background-position:
        0px 112px,
        right 0 bottom 0,
        left 50% top 80px,
        left 50% bottom 0,
        top center;
    background-repeat: no-repeat;
}

.footer p {
    font-size: 15px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Poppins', sans-serif";
    font-weight: 900;
    margin-right: 0;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


figure.snip1139 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0;
    min-width: 220px;
    max-width: 310px;
    height: 260px;
    width: 100%;
    color: #f5eeee;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: none; /* Hide by default */
}

figure.snip1139.active {
    display: block; /* Show active testimonial */
}

figure.snip1139 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1139 img {
    max-width: 100%;
    vertical-align: middle;
}

figure.snip1139 blockquote {
    position: relative;
    background-color:  #2F084D;
    padding: 25px 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
}

figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
    font-family:'Poppins' , sans-serif;
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1139 blockquote:before {
    top: 25px;
    left: 20px;
}

figure.snip1139 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

figure.snip1139 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ffffff;
    margin: 0;
    position: absolute;
}

figure.snip1139 .author {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 25px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}

figure.snip1139 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

figure.snip1139 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0;
    height: 100%;
}
.ourproduct{
    align-items: center;
    display: flex;
    justify-content: center;
}

.imagehover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  .articles-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 1.5rem;
    width: 100%;
    /* max-width: 1200px; */
    justify-content: center;
    align-items: center;
    
  }

  figure {
    width: 100%;
    aspect-ratio: 8 / 5;
    --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
    --accent: hsl(280 80% 40%);
    transition: background 0.2s;
    background:
      radial-gradient(circle at top left, var(--accent), transparent 75%),
      var(--bg);
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
  }

  figure:after {
    content: "";
    position: absolute;
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 0%;
    left: 0;
    background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
    filter: blur(25px);
    transform:
      translateX(calc(var(--hover) * 15%))
      scale(calc(1 + (var(--hover) * 0.2)));
    transition: transform 0.2s, background 0.2s;
  }

  .himg {
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    transform:
      translateX(calc(var(--hover) * -10%))
      scale(calc(1 + (var(--hover) * 0.2)));
    transition: transform 0.2s;
  }

  article {
    --hover: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  article:hover {
    --hover: 1;
  }

  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .articles-container {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
  }

  @media (max-width: 768px) {
    .articles-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
  }

  @media (max-width: 480px) {
    .articles-container {
      grid-template-columns: 1fr; /* 1 column on very small screens */
    }
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  
  .slider {
    height: 300px;
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;

    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: right;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__image {
    font-size: 2.7rem;
        color: #2196F3;
  }
  .slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
  .slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #f2642c;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color:#f2642c;
  box-shadow: rgba(249, 244, 244, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #f2642c;
  box-shadow: rgba(0, 0, 0, 0.452) 0 2px 4px;
  transform: translateY(0);
}


/* Ensure the modal is hidden by default */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 10000;
}

.content1 {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    position: relative;
    margin: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color:#f2642c;
}

.modal h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

label {
    margin: 10px 0 5px;
    display: block;
    font-size: 0.9rem;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#f2642c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f2642c;
}       

.property-item {
    position: relative; /* Allows positioning of child elements */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns items at the start */
    height: 100%; /* Makes the item take full height */
}

.download-btn {
    position: absolute; /* Allows placement at the bottom */
    bottom: 10px; /* Position from the bottom */
   /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
    margin-top: 50%;
}

.testmon {
    width: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.2s;
    margin: 15px 0;
}

.testmon:hover {
    transform: translateY(-5px);
}

.testmon-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testmon-body {
    padding: 10px 0;
    text-align: center;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: #E79848;
}

.review {
    font-size: 0.95em;
    color: #555;
    margin-bottom: 10px;
}

.stars {
    color: #FFD700; /* Gold color for the stars */
    font-size: 1.2em;
    margin-bottom: 10px;
}